body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg {
  background-image: url("https://www.skoolbeep.com/blog/wp-content/uploads/2020/12/WHAT-IS-THE-BEST-BUS-TRACKER-APP.png");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .navbar{
  width:100% !important;
  margin:10 px auto;
  left: 5px;
  right:0;
  padding:0;
} */
.parentbg {
  background-image: url("http://eyesline.com/wp-content/uploads/2017/06/bus2.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.locationbg {
  background-image: url("https://bluedot.me/site/wp-content/uploads/2016/09/map.png");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.driverbg {
  background-image: url("https://fleetroot.com/blog/wp-content/uploads/2019/08/12-Steps-To-Implementing-A-School-Bus-Tracking-System.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}